<div class="container mt-5">
  <div class="row">
    <h3 class="text-center display-2 fw-bold text-light">TODO APP</h3>
    <div class="row">
      <div class="col-12">
        <form (submit)="onSubmit($event)">
          <input type="text" name="task" [(ngModel)]="newTask" class="form-control my-3 bg-dark text-light fw-bold">
        </form>
      </div>
      <div class="col-lg-4">
        <h4 class="fs-2 fw-bold text-light">To do</h4>
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="todo"
          #listtodo="cdkDropList"
          [cdkDropListConnectedTo]="[listprogress]"
        >
          <div class="example-box" *ngFor="let item of todo" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h4 class="fs-2 fw-bold text-light">In Progress</h4>
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="progress"
          #listprogress="cdkDropList"
          [cdkDropListConnectedTo]="[listdone, listtodo]"
        >
          <div class="example-box" *ngFor="let item of progress" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h4 class="fs-2 fw-bold text-light">Done</h4>
        <div
          cdkDropList
          class="example-list"
          [cdkDropListData]="done"
          (cdkDropListDropped)="drop($event)"
          #listdone="cdkDropList"
          [cdkDropListConnectedTo]="[listprogress]"
        >
          <div class="example-box" *ngFor="let item of done" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
